<h1><%= @post.title %></h1>
<p>Author: <%= @post.author %></p>
<p><%= @post.body %></p>
<%= image_tag(@post.image, width: "300px") %>
<!-- <img src="<%= @post.image %>" alt="<%= @post.title %>" width="300px"> -->