<div class="row">
  <div class="col-md-8">
    <h1><%= @post.title %></h1>
    <p>Author: <%= @post.user.email %></p>
    <p><%= @post.body %></p>
    <p><%= image_tag(@post.image, width: "400px") %></p>
    <% if @post.user == current_user %>
    <p>
      <%= link_to 'Edit', edit_post_path(@post.id) %> | 
      <%= link_to 'Delete', post_path(@post),
                    method: :delete,
                    data: { confirm: 'Are you sure?' } %>
    </p>
    <% end %>
    <!-- <img src="<%= @post.image %>" alt="<%= @post.title %>" width="300px"> -->
  </div>

  <div class="col-md-4">
    <h2>Comments</h2>
    <% @post.comments.each do |comment| %>
      <p>
        <strong><%= comment.user.email %></strong>: <%= comment.body %><br>
      <% if comment.user == current_user %>
        <%= link_to 'Edit', edit_post_comment_path(comment.post, comment) %>
        | <%= link_to 'Delete', [comment.post, comment], method: :delete, data: { confirm: "Are you sure?" } %>
      <% end %>
      </p>
      <hr>
    <% end %>

    <h2>Add a comment:</h2>
    <%= simple_form_for([@post, @post.comments.build]) do |f| %>
      <p>
        <%= f.input :body %><br>
      </p>
      <p>
      <%= f.button :submit %>
      </p>
    <% end %>
  </div>
</div>